.input-range__label-container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .input-range__label--value {
    position: absolute;
    top: -20px;
    left: 0;
    width: 1px;
    height: 1px;
    /* border-radius: 50%; */
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input-range__track--active{
    background-color:#14BC9A;
    
  }
  .input-range__slider{
    background-color:#14BC9A ;
  }
  .input-range__label{
    display:none;
  }
  .input-range{
    width:94%;
    margin-left:8px;
  }
  .range{
margin-left:-1px;
margin-top:7px;
  }
  .rangeOne{
    margin-left:200px;
    margin-right: 0px;
    margin-top:-30px;
  }
  .Box4{
    position: relative;
    left: 500px;
    bottom:2300px;
  }
  .th-job{
    width: 150px;
    text-align: start;
    color: #656A72;
    font-weight: lighter;
    margin-left: 20px;
}
.th-skills{
    width: 250px;
    text-align: start;
    color: #656A72;
    font-weight: lighter;
    margin-left: 20px;
    padding-left: 20px;
    border-spacing: 30px;
    border-collapse: 40px;
   
}
.th-location{
    width: 200px;
    text-align: start;
    color: #656A72;
    font-weight: lighter;
}
.th-company{
    width: 150px;
    text-align: start;
    color: #656A72;
    font-weight: lighter;
}
.th-type{
    width: 100px;
    text-align: start;
    color: #656A72;
    font-weight: lighter;
}
.th-exp{
    width: 100px;
    text-align: start;
    color: #656A72;
    font-weight: lighter;
}
.table{
    border-collapse:collapse;
    border: none;
    position: relative;
    top: 80px;
    right: 680px;
    width: 1000px;
   
}
.td-one{
    border-bottom: 1px solid black;
    margin-left: 4px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    
    
}

.td-one:hover{
    background-color: #c1c3c7;
    border-left: 4px solid #14bc9a;
    
}
.Top-tier{
  position: relative;
  bottom: 80px;
  font-size: 1.5em;
  font-weight: lighter;
}
.cls{
  
  position: relative;
  left:350px;
  bottom: 1850px;
  height:550px;
  width: max-content;
}
.table{
  position: relative;
  left:60px;
  margin-bottom: 400;
  

  
  
  
}