.main{
    text-align: center;
}
input{
    width: 400px;
    height: 30px;
    border: none;
    outline: none;
}
span{
    color:#14bc9a;
}
h5{
    margin-top: 1%;
    color: gray;
}
h1{
    margin-bottom: 0%;
}
.btn{
    background-color: white;
    border: 1px solid gray;
    width: 180px;
   height: 30px;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}

.in{
    border: none;
    
}
input:hover{
    border: none;
}
.sear{
    border: 1px solid gray;
    width: 590px;
}
.input{
    display: flex;
}
.btt{
    border-radius: 5px;
    margin-left: 80px;
    width: 80px;
    height: 28px;
    border: 1px solid ghostwhite;
    background-color:  #14bc9a;
    color: ghostwhite;
}
.rht{
    margin-left: 280px;
}
.skill{
    border: 1px solid gray;
}
#btn{
    background-color:  #14bc9a;
}
.second{
    border: 1px solid gray;
    width: 300px;
    height: fit-content;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 230px;
    background-color: rgb(245, 241, 241);
    
}
.bd1{
    display: flex;
    border: 1px solid gray;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: rgb(230, 229, 229);
}
a{
    text-decoration: none;
    margin-top: 21px;
    margin-left: 120px;
}
.inp{
    border: 1px solid gray;
    border-radius: 5px;
    width: 250px;
    margin-left: 15px;
}
p{
    margin-left: 15px;
}
h3{
    margin-left: 15px;
    font-size: medium;
}

.cba{
    margin-left: -150px;
    margin-top: 10px;

}
input[type=checkbox]{
    zoom: 0.5;
}
label{
    margin-left: -75px;
}
.dca{
    color:  #14bc9a;
    margin-top: 5px;
    margin-left: 15px;
    font-size: small;
}
.slidecontainer{
    width:10%;
}
.ip{
    width: 100px;
    border: 1px solid gray;
    border-radius: 10px;
}
