.main{
    text-align: center;
}
input{
    width: 400px;
    height: 30px;
    border: none;
    outline: none;
}
span{
    color:#14bc9a;
}
h5{
    margin-top: 1%;
    color: gray;
}
h1{
    margin-bottom: 0%;
}
.btn{
    background-color: white;
    border: 1px solid gray;
    width:140px;
   height: 30px;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}

.in{
    border: none;
    width: 320px;
    height: 46px;
    
}
input:hover{
    border: none;
}
.sear{
    border: 1px solid gray;
    height: 49px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    
}
.input{
    display: flex;
}
.btt{
    border-radius: 5px;
    margin-left: 50px;
   
    position: relative;
    bottom: 7px;
    width: 100px;
    height:49px;
    border: 1px solid ghostwhite;
    background-color:  #14bc9a;
    color: ghostwhite;
}
.rht{
    margin-left: 280px;
    position: relative;
    bottom: 40px;
}
.skill{
    border: 1px solid gray;
    width: 340px;
    border-bottom-left-radius: 10px;
}
.in-inp{
    width: 320px;
    height: 46px;
    color: white;
    font-weight:lighter;
}
#btn{
    background-color:  #14bc9acd;
}
.second{
    border: 1px solid gray;
    width: 300px;
    height: 1616px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 230px;
    background-color: rgb(245, 241, 241);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 10.5px;
    font-weight:bold;
    color: #747A8D;
    
}
.bd1{
    display: flex;
    border: 1px solid gray;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: rgb(230, 229, 229);
}
a{
    text-decoration: none;
    margin-top: 21px;
    margin-left: 120px;
    color: black;
}
.ic-ic{
    margin-right: 17px;
}

.inp{
    border: 1px solid gray;
    border-radius: 5px;
    width: 250px;
    margin-left: 15px;
}
p{
    margin-left: 15px;
}
h3{
    margin-left: 15px;
    font-size: medium;
}

.cba{
    margin-left: -150px;
    margin-top: 10px;

}
input[type=checkbox]{
    zoom: 0.5;
}
label{
    margin-left: -75px;
}
.dca{
    color:  black;
    margin-top: 5px;
    margin-left: 15px;
    font-size: small;
}
.all{
    margin-left:130px;
    margin-top: 16px;
    color: #14bc9a;
}
.fs{
  color: black;

}
.dc{
    color: #14bc9a;
    margin-top: 5px;
    margin-left: 15px;
}
.slidecontainer{
    width:10%;
    color: #14bc9a;
   
}
.input-range__track--active{
   background-color: #14BC9A;
}
.ip{
    width: 100px;
    border: 1px solid gray;
    border-radius: 10px;
}
#input{
    margin-bottom: 0%;
    margin-top: -15px;
}
#dat{
    margin-top: -10px;
    font-size: small;
    color: #14bc9a;
}
#years{
    margin-left: 160px;
}
.image{
     width: 150px;
     height: 150px;
     position: relative;
     left:1300px;
     bottom:2000px;
}



.rht{
    margin-bottom: 50px;
   margin-top:200px;
}



.box9{
    border: 1px solid gray;
    width: 280px;
    height: max-content;
    margin: 50px;
    margin-top: -50px;
    padding-left: 10px;
    border-radius: 20px;
    margin-left: 910px;
    margin-bottom:600px;
}

.new{
    position: relative;
    left:1100px;
    bottom:1850px;
    width:100px;
    margin-top:180px;
    color: black;
    margin-right:0px;
  
   

}
.App{
position: relative;
left:200px;
bottom:255px;
top: 200px;
right:800px;
}
.search{
    position: relative;
    bottom: 10px;
    right: 100px;
    color: white;
}
.ic-ic{
    position: relative;
    right: 25px;
    top: 7px;
}
.photo{
    width: 100px;
    height: 36px;
    margin-left: 5px;
    margin-top: 6px;
}
.div-photo{
    width: 120px;
    height: 50px;
    border: 1px solid white;
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
}
.div-photo:hover{
    border-color: #14bc9a;
    transform: scale(0.99);
}
.photo-main{
    padding: 20px 10px;
    width: 1200px;
    height: 150px;
    display: flex;
    flex-wrap:wrap;
    text-align:center;
    margin-left: 100px;
   row-gap: 10px;
   margin-left:60px ;
   margin-right: -4px;
   position: relative;
   left:100px;
   bottom: 50px;
}
.result{
    position: relative;
    left:400px;
    bottom:1630px;
    color: black;
    font-style: normal;
    font-size:medium;
}
.App1{
    position:relative;
    bottom:1880px;
    left:1170px
}
.img{
    width: 140px;
    height: 50px;
    margin-left: 190px;
}
.main{
    display: flex;
    -webkit-box-shadow: 0 8px 6px -8px gray;
    margin-left: -10px;
    margin-right: 0px;
    height:50px;
}
.tt{
    margin-top: 15px;
    margin-left: 75px;
    width:200px;
    color: #14BC9A;
    
}
.but{
    padding: 5px;
    border: none;
    padding-bottom: 20px;
    margin-left: 20px

    
   
    
}
a{
    text-decoration: none;
}
.log{
    margin-left: 600px;
    margin-top: 15px;
    color:white;
    
}
.login{
    border: 1px solid #fd815e;
    color: white;
    border-radius: 5px;
    background-color:#fd815e;
    margin: 10px;
    padding: 3px 10px;
    right: 0px;
    
}
#but{
    color: #14bc9a;
    border-bottom: 3px solid #14bc9a;
    width:200px;
}

.Rightjob{
   margin-top:70px;
   margin-left:-2100px;
   position: relative;
   width: 2000px;
   right: -400px;
   
   
}
#butt{
    
    width:300px;
    margin-top: 10px;
}
.sign{
    
    position: relative;
    top: 200px;
    left: 100px;
    }
.email{
    width: 150px;
    height: 45px;
    background-color: #e8eaf1;
    bottom: 5px;
    
   
}
.ic-ai{
  
    background-color: #e8eaf1;
    border-radius: 10px;
    width: 400px;
    margin-bottom: 10px;
    font-weight: lighter;
}

.password{
    height: 45px;
    background-color: #e8eaf1;
    margin-top:10px ;
    
    width:350px ;
    position: relative;
    bottom:10px;
    
    
}
.ic-fi{
   
    background-color: #e8eaf1;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    margin-bottom: 20px;
    font-weight: lighter;
}
.RM{
    margin-left: -160px;
   
}
.fg{
    margin-left: 130px;
    color: #14BC9a;
    font-weight: lighter;
}
.SI{
    background-color:#14BC9a;
    color: white;
    width: 400px;
    height: 40px;
     border-radius: 10px;
    border-color:#14BC9a;
    
}
.google{
    background-color: white;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
}
.or{
 margin-left:10px;
 margin-top:15px;
}
.JS{
    margin-left: 130px;
    color: black;
    font-weight:lighter;
    font-size: 0.4cm;
}
.sort{
    position: relative;
    left: 1040px;
    bottom: 1655px;
}
.ic-md{
    position: relative;
    left: 1180px;
    bottom: 1880px;
    width:40px;
    height: 25px;
    font-weight: lighter;
    color: #c1c3c7;

}
.ao{
    margin-bottom:-4px ;
}
.fl{
    margin-bottom:9px ;  
}
.gg{
    bottom:10px;
}
.box6{
    width: 60px;
    height: 30px;
}
.box1{
    font-size: 11.5px;
    font-weight: bold;
    margin-left: 0px;
    margin-top: 0px;
    color: black;
}
.box2{
    color: #9398A1;
    margin-left: 0px;
    font-size: 9px;
    margin-top: 2px;
}
.box5{
    margin-top: -13px;
    color: #4B8BFF;
}
.box3{
    margin-top: -13px;
    margin-left: 5px;
    color: #4B8BFF;
}
.box4{
    margin-top: 0px;
    color: black;
    font-size: 10.5px;
    margin-left: 15px;
}
.box7{
    border-bottom: 1px solid #969696;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
}
.box{
    border: 1px solid gray;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(200, 199, 199);
    margin-left: 5px;
    margin-bottom: 5px;
}
.box:hover{
    border-color: #14BC9a;
    box-shadow: 0 0 15px rgb(200, 199, 199);
}
.box-main{
    display: flex;
    flex-wrap: wrap;
    width: 650px;
}
.career{
    color: gray;
}
.offer{
    display: flex;
    flex-wrap:nowrap;
    width: 1200px;
    margin-left:150px;
    padding:20px;
    margin-bottom: 50px;

}
.you{
    position: relative;
    left:530px;
    bottom: 40px;
    
}
.spn{
    color: #14BC9A;
}
.RJ{
    font-weight: 600;
    font-size: 1.1cm;
}
.cover{
    position: relative;
    left:90px;
    height: max-content;
    width:700px;
}
.dream{
   font-size: 1.3em;
   margin-left: 20px;
   object-fit: contain;
}
.inp-first{
    width: 170px;
    height: 35px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #f7f7f7;
    margin-bottom: 15px;
    margin-top: 25px;
}
.inp-email{
    width: 364px;
    height: 35px;
    background-color: #f7f7f7;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 15px;
}
#inp-pass{
    height: 35px;
    width: 135px;
   
    background-color: #f7f7f7;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 15px;
}
#inp-cpass{
    width: 170px;
    height: 35px;
    margin-left: 23px;
    background-color: #f7f7f7;
    border: 1px solid white;
    border-radius: 10px;
}
.inp-create{
    width: 370px;
    height: 40px;
    background-color: #f7f7f7;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 35px;

}
#inp-create{
    background-color: #14bc9a;
    color: white;
}
.inp-main{
   
    text-align: center;
    margin-left: 280px;
    margin-top: 100px;
}
.reg-pass{
   background-color: #f7f7f7;
    margin-left: 20px;
    height: 39px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.inp-check{
    margin-bottom: 20px;
    
}
.inp-text{
    font-size: small;
}
.emp{
   position: relative;
   left: 20px;
   border-radius: 10px;
   width: 100px;
   height:30px;
   border-color: none;
}
.candi{
   border-radius: 10px;
   width: 100px;
   height:30px;
   border-color:none;
   
}
.inp-comp{
    width: 364px;
    height: 35px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #f7f7f7;
    margin-bottom: 15px;
}
.inp-web{
    width: 170px;
    height: 35px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #f7f7f7;
    margin-bottom: 15px;
}
.inp-select{
    width: 170px;
    height: 35px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #f7f7f7;
    outline: none;
    margin-bottom: 20px;
}
.inp-accept{
    margin-bottom: 25px;
}
.inp-company{
    font-weight: lighter;
    font-size: larger;
}
.add-close{
    color: #14bc9a;
    margin-left: 1320px;
    margin-top: 10px;
    font-size: x-large;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

}
.add-main{
    width: 1400px;
    
    margin-left: 100px;
}
.add-img{
    width: 1000px;
    margin-left: 200px;
    margin-top: 20px;
    
}
.add-boder{
     border: 1px solid #656A72;
     margin-top: 10px;
}
.add-butt{
    margin-left: 1100px;
    margin-top: 20px;
    margin-bottom: 10px
   
}
.add-btt{
    width: 100px;
    height: 30px;
}
#add-btt{
    border: 1px solid ghostwhite;
    border-radius: 10px;
    color: #14bc9a;
}
#add-butt{
    border: 1px solid #14bc9a;
    border-radius: 10px;
    background-color: #14bc9a;
    color: white;
    margin-left: 15px;
}